@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AT - To do List</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--<div class="align-content-lg-between">
    <div class="text-center">
        <p>tarefas de Hoje</p>
        <p>##</p>
        <table class="table">
            //*foreach (var item in Model.Aniversariantes)
            {
                <tr>
                    <td>
                        Html.DisplayNameFor(model => model.NomeTarefa)
                    </td>
                    <td>
                        Html.DisplayFor(modelItem => item.DataTarefa)
                    </td>
                    <td>
                        Html.DisplayFor(modelItem => item.Responsavel)
                    </td>

                </tr>
            }
        </table>
        <hr />
        <table class="table">
            foreach (var item in Model.ProximosAniversariantes)
            {
                <tr>
                    <td>
                        Html.DisplayNameFor(model => model.NomeTarefa)
                    </td>
                    <td>
                        Html.DisplayFor(modelItem => item.DataTarefa)
                    </td>
                    <td>
                        Html.DisplayFor(modelItem => item.Responsavel)
                    </td>

                </tr>
            }
        </table>

    </div>
</div>
    -->
