@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Informações sobre o projeto.</p>

<div class="text-center">
    <h1>Instituto Infnet</h1>
    <h2>Análise e Desenvolvimento de Sistemas</h2>
    <img src="/Assets/Img/logo.png" />
    <hr />
    <h4>Eric Fagundes Guimarães</h4>

    <h3>ASSESSMENT</h3>
    <h4>Desenvolvimento com Serviços WCF e Microsoft Azure</h4>
    <p>Professor - Rafael Cruz</p>
    <h6>25/09/2021 - Rio de Janeiro</h6>

</div>
